{% extends "base.html" %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-success text-white">
        <h4>Add Plan</h4>
    </div>

    <div class="card-body">

        <form method="POST">

            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Plan Name</label>
                {{ form.name }}
            </div>

            <div class="row">

                <div class="col-md-6 mb-3">
                    <label class="form-label">Plan Type</label>
                    {{ form.plan_type }}
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label">Price</label>
                    {{ form.price }}
                </div>

            </div>

            <div class="row">

                <div class="col-md-6 mb-3">
                    <label class="form-label">Attendance Days</label>
                    {{ form.attendance_days }}
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label">Status</label>
                    {{ form.status }}
                </div>

            </div>

            <div class="mb-3">
                <label class="form-label">Description</label>
                {{ form.description }}
            </div>

            <button class="btn btn-success">
                Save Plan
            </button>

            <a href="{% url 'plan_list' %}" class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}